In [ ]:
# 5. Find the number of customer who are ‘Female’

# Identify Unique Customer
from collections import Counter
counter = dict(Counter(Customer_details))
names=list(counter.keys())
print(names)
male=0
female=0

for name in names:
    if gender[name]=="Male":
        male=male+1
    if gender[name]=="Female":
        female+=1
print("Total no of Male=",male)
print("Total no of Female=",female)

['Kaustubh Mahajan', 'Siddhi Kiwale', 'Sanket Kandalkar', 'Yash Mali', 'Yash Borkar', 'Tanuja Mali']
Total no of Male= 4
Total no of Female= 2

In [ ]:
from collections import Counter
counter = dict(Counter(list(Supplier_details.values())))
sorted_counter = sorted(counter.items(), key=lambda x:x[1],reverse=True)
sorted_counter=dict(sorted_counter)
print("The most popular Supplier for sales",list(sorted_counter.keys())[0],
      " sold ",list(sorted_counter.values())[0],"Items")r for sales Raka Elec.  sold  6 Items

The most popular Supplier for sales Raka Elec.  sold  6 Items

In [ ]:
# 4. Find the customer who buys most of the products.


frequency = {}
# iterating over the list
for item in Customer_details:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counter
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1
# printing the frequency
print("Freqenct is as below:\n",frequency)
marklist = sorted(frequency.items(), key=lambda x:x[1],reverse=True)
sortdict = dict(marklist)
print("\nSorted dict is as below:\n",sortdict)
print("\n\nThe customer who buys most of the products",list(sortdict.keys())[0],
      " buy ",list(sortdict.values())[0],"Items")

Freqenct is as below:
 {'Kaustubh Mahajan': 5, 'Siddhi Kiwale': 5, 'Sanket Kandalkar': 4, 'Yash Mali': 4, 'Yash Borkar': 1, 'Tanuja Mali': 1}

Sorted dict is as below:
 {'Kaustubh Mahajan': 5, 'Siddhi Kiwale': 5, 'Sanket Kandalkar': 4, 'Yash Mali': 4, 'Yash Borkar': 1, 'Tanuja Mali': 1}


The customer who buys most of the products Kaustubh Mahajan  buy  5 Items

In [ ]:
from collections import Counter
counter = dict(Counter(Customer_details))
sorted_counter = sorted(counter.items(), key=lambda x:x[1],reverse=True)
sorted_counter=dict(sorted_counter)
print("The customer who buys most of the products",list(sorted_counter.keys())[0],
      " buy ",list(sorted_counter.values())[0],"Items")

The customer who buys most of the products Kaustubh Mahajan  buy  5 Items

In [ ]:
# 2. Find the most popular product for sales.

frequency = {}#{Lenovo Laptop:3}
# iterating over the list
for item in Product_details:
   # checking the element in dictionary
   if item in frequency:
      # incrementing the counter
      frequency[item] += 1
   else:
      # initializing the count
      frequency[item] = 1
# printing the frequency
print(frequency)
marklist = sorted(frequency.items(), key=lambda x:x[1],reverse=True)
sortdict = dict(marklist)
print(sortdict)
print("The most popular product for sales",list(sortdict.keys())[0]," sold ",list(sortdict.values())[0],"times")

{'Lenovo Laptop': 6, 'Samsung M31': 5, 'Realme 10 Pro': 2, 'Oppo F21': 3, '"LG TV 32"""': 4}
{'Lenovo Laptop': 6, 'Samsung M31': 5, '"LG TV 32"""': 4, 'Oppo F21': 3, 'Realme 10 Pro': 2}
The most popular product for sales Lenovo Laptop  sold  6 times

In [ ]:
print("\nProduct_details\n",Product_details,end="")
print("\n\nCustomer_details\n",Customer_details,end="")
print("\n\nSupplier_details\n",Supplier_details,end="")
print("\n\nGender_details\n",gender,end="")

Product_details
 ['Lenovo Laptop', 'Samsung M31', 'Realme 10 Pro', 'Oppo F21', 'Lenovo Laptop', 'Samsung M31', '"LG TV 32"""', 'Oppo F21', 'Lenovo Laptop', 'Samsung M31', '"LG TV 32"""', 'Lenovo Laptop', 'Samsung M31', 'Realme 10 Pro', 'Lenovo Laptop', 'Oppo F21', '"LG TV 32"""', 'Lenovo Laptop', 'Samsung M31', '"LG TV 32"""']

Customer_details
 ('Kaustubh Mahajan', 'Siddhi Kiwale', 'Sanket Kandalkar', 'Yash Mali', 'Yash Borkar', 'Siddhi Kiwale', 'Sanket Kandalkar', 'Kaustubh Mahajan', 'Yash Mali', 'Siddhi Kiwale', 'Sanket Kandalkar', 'Kaustubh Mahajan', 'Yash Mali', 'Siddhi Kiwale', 'Tanuja Mali', 'Kaustubh Mahajan', 'Sanket Kandalkar', 'Siddhi Kiwale', 'Kaustubh Mahajan', 'Yash Mali')

Supplier_details
 {'P00001': 'Raka Elec.', 'P00002': 'Vijay Sales', 'P00003': 'Gada Elec.', 'P00004': 'Surya Elec.', 'P00005': 'Raka Elec.', 'P00006': 'Gada Elec.', 'P00007': 'Vijay Sales', 'P00008': 'Surya Elec.', 'P00009': 'Raka Elec.', 'P00010': 'Gada Elec.', 'P00011': 'Surya Elec.', 'P00012': 'Raka Elec.', 'P00013': 'Surya Elec.', 'P00014': 'Raka Elec.', 'P00015': 'Gada Elec.', 'P00016': 'Vijay Sales', 'P00017': 'Deshmukh Sales', 'P00018': 'Raka Elec.', 'P00019': 'Deshmukh Sales', 'P00020': 'Gada Elec.'}

Gender_details
 {'Kaustubh Mahajan': 'Male', 'Siddhi Kiwale': 'Female', 'Sanket Kandalkar': 'Male', 'Yash Mali': 'Male', 'Yash Borkar': 'Male', 'Tanuja Mali': 'Female'}

In [ ]:
# 1. Read CSV into python data structure

Product_details=[]
Supplier_details=dict()
Customer_details=[]
gender={}

fp1=open("/content/Sales.csv","r")
data=fp1.readline()

while(True):

    data=fp1.readline()
    if not data:
        break;
    #print(data)
    data=data.replace("\n","")
    temp=data.split(",")
    Product_details.append(temp[1])
    Customer_details.append(temp[3])
    Supplier_details.update({temp[0]:temp[2]})
    gender.update({temp[3]:temp[4]})

fp1.close()

Customer_details=tuple(Customer_details)
print(type(Customer_details))

<class 'tuple'>